In [3]:
import pandas as pd

In [4]:
# Read the CSV file into a DataFrame: df
df = pd.read_csv("supermarket.csv")

# Calculate the total number of unique customers
total_customers = df["Customer ID"].nunique()

# Calculate the number of customers who made a repeat purchase
repeat_customers = df.groupby("Customer ID")["Order ID"].nunique().gt(1).sum()

# Calculate the retention rate
retention_rate = repeat_customers / total_customers
# Print the retention rate
print(f"Churn rate: {retention_rate:.2%}")

Churn rate: 98.36%

In [5]:
# Calculate the average discount rate
discount_rate = df["Discount"].mean()

print(f"The average discount rate is: {discount_rate}")

The average discount rate is: 4.983072839870244

In [6]:
# Calculate the Contribution Margin per order
df["Contribution Margin"] = df["Revenue"] - (
    df["COGS"] + df["Expense"] + df["Discount"] + df["Shipping cost"]
)

# Calculate the Contribution Margin per customer
clv_grouped = (
    df.groupby("Customer ID").agg({"Contribution Margin": "sum"}).reset_index()
)

# Print the Contribution Margin per customer
print(clv_grouped)

    Customer ID  Contribution Margin
0      AA-10315          43218.60485
1      AA-10375          52989.34784
2      AA-10480          64631.47822
3      AA-10645         138143.07398
4      AB-10015          11515.56488
..          ...                  ...
787    XP-21865         146189.36128
788    YC-21895          42639.64468
789    YS-21880         103310.77092
790    ZC-21910         188331.91063
791    ZD-21925          81356.19510

[792 rows x 2 columns]

In [7]:
# Calculate CLV for each customer
clv_grouped["CLV"] = clv_grouped["Contribution Margin"] / (
    discount_rate - retention_rate
)

clv_grouped

# Save the dataframe to a new CSV file
# clv_grouped.to_csv('customer_clv.csv', index=False)

    Customer ID  Contribution Margin           CLV
0      AA-10315          43218.60485  10806.037137
1      AA-10375          52989.34784  13249.036211
2      AA-10480          64631.47822  16159.942143
3      AA-10645         138143.07398  34540.198437
4      AB-10015          11515.56488   2879.260499
..          ...                  ...           ...
787    XP-21865         146189.36128  36552.028289
788    YC-21895          42639.64468  10661.278529
789    YS-21880         103310.77092  25831.005677
790    ZC-21910         188331.91063  47089.017044
791    ZD-21925          81356.19510  20341.657688

[792 rows x 3 columns]