In [1]:
import pandas as pd

In [2]:
# Read the CSV file into a DataFrame: df
df = pd.read_csv("supermarket.csv")

# Calculate the total number of unique customers
total_customers = df["Customer ID"].nunique()

# Calculate the number of customers who made a repeat purchase
repeat_customers = df.groupby("Customer ID")["Order ID"].nunique().gt(1).sum()

# Calculate the churn rate
churn_rate = (total_customers - repeat_customers) / total_customers

# Print the churn rate
print(f"Churn rate: {churn_rate:.2%}")

Churn rate: 1.64%

In [3]:
# Calculate the average discount rate
discount_rate = df['Discount'].mean()

print(f"The average discount rate is: {discount_rate}")

The average discount rate is: 4.983072839870244

In [4]:
# Calculate the Contribution Margin per order
df['Contribution Margin'] = df['Revenue'] - (df['COGS'] + df['Expense'] + df['Discount'] + df['Shipping cost'])

# Calculate the Contribution Margin per customer
clv_grouped = df.groupby('Customer ID').agg({'Contribution Margin': 'sum'}).reset_index()

# Print the Contribution Margin per customer
print(clv_grouped)

    Customer ID  Contribution Margin
0      AA-10315          43218.60485
1      AA-10375          52989.34784
2      AA-10480          64631.47822
3      AA-10645         138143.07398
4      AB-10015          11515.56488
..          ...                  ...
787    XP-21865         146189.36128
788    YC-21895          42639.64468
789    YS-21880         103310.77092
790    ZC-21910         188331.91063
791    ZD-21925          81356.19510

[792 rows x 2 columns]

In [5]:

# Calculate CLV for each customer
clv_grouped['CLV'] = clv_grouped['Contribution Margin'] / (discount_rate - churn_rate)

clv_grouped

# Save the dataframe to a new CSV file
# clv_grouped.to_csv('customer_clv.csv', index=False)

    Customer ID  Contribution Margin           CLV
0      AA-10315          43218.60485   8701.746481
1      AA-10375          52989.34784  10669.013326
2      AA-10480          64631.47822  13013.070183
3      AA-10645         138143.07398  27814.086364
4      AB-10015          11515.56488   2318.573830
..          ...                  ...           ...
787    XP-21865         146189.36128  29434.146809
788    YC-21895          42639.64468   8585.177132
789    YS-21880         103310.77092  20800.859731
790    ZC-21910         188331.91063  37919.237472
791    ZD-21925          81356.19510  16380.468246

[792 rows x 3 columns]